<div id="documentosActividadAgropecuaria">
    <table id="dtActAgr" class="cell-border hover nowrap" cellspacing="0" style="width:100%">
        <thead>
            <tr>
                <th>Nombres Apellidos</th>
                <th>Nombre Finca</th>
                <th>Ubicación</th>
                <th>Departamento</th>
                <th>Municipio</th>
                <th>Comarca</th>
                <th>Localidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

