<div id="documentosListaPersonas">
    <table id="example" class="cell-border hover wrap" cellspacing="0" style="width:100%">
        <thead>
            <tr>
                <th>Nombres Apellidos</th>
                <th>Varon / Mujer</th>
                <th>Años Cumplidos</th>
                <th>Fecha Nacimiento</th>
                <th>Parentezco</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>



