@model  Gaia.DAL.Model.UsuarioSistema

<div class="login-form padding20 block-shadow">
    <form id="frmAutorizacion">

        <div class="input-control text full-size" data-role="input">

            <span class="mif-user prepend-icon"></span>
            @Html.TextBoxFor(u => u.UsuarioId, new { @class = "form-control", @placeholder = "Usuario", @id = "UsuarioCredenciales", @disabled = "disabled" })
            <button class="button helper-button clear"><span class="mif-cross"></span></button>

        </div>
        <div class="input-control password full-size" data-role="input">

            <span class="mif-key prepend-icon"></span>
            @Html.PasswordFor(u => u.Password, new { @class = "form-control", @placeholder = "Contraseña", @id = "PasswordCredenciales" })

            <button class="button helper-button reveal"><span class="mif-looks"></span></button>

        </div>
    </form>
</div>